In [1]:
import pandas as pd

In [3]:
oula = pd.read_csv("/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube.csv")

In [5]:
display(oula)

,Feature,Meriadeck,CONNECTEE,8,25,12,13,2023-07-10 13:08:00+02:00,-0.5843699,44.8380299
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 13:08:00+02:00,-0.590280,44.837840
1,Feature,Piscine Judaique,CONNECTEE,13,13,8,5,2023-07-10 13:08:00+02:00,-0.593233,44.840813
2,Feature,St Seurin,CONNECTEE,11,9,6,3,2023-07-10 13:08:00+02:00,-0.584820,44.842210
3,Feature,Place Gambetta,CONNECTEE,16,23,11,12,2023-07-10 13:08:00+02:00,-0.581124,44.840712
4,Feature,Square Andre Lhote,CONNECTEE,5,24,12,12,2023-07-10 13:08:00+02:00,-0.581660,44.837790
...,...,...,...,...,...,...,...,...,...,...
558247,Feature,Cite numerique,CONNECTEE,3,21,13,8,2023-07-24 12:10:00+02:00,-0.555170,44.813274
558248,Feature,Rue Paulin,CONNECTEE,13,10,3,7,2023-07-24 12:10:00+02:00,-0.587664,44.847400
558249,Feature,Place Latule,CONNECTEE,8,11,7,4,2023-07-24 12:10:00+02:00,-0.566340,44.869373
558250,Feature,Bagatelle,CONNECTEE,12,8,4,4,2023-07-24 12:10:00+02:00,-0.574862,44.807389
558251,Feature,Bruges La Vache,CONNECTEE,17,2,1,1,2023-07-24 12:10:00+02:00,-0.590810,44.872397

In [ ]:
import requests
import pandas as pd
import time
import schedule
api_key = '9JVETI8PUF'
api_url = f"https://data.bordeaux-metropole.fr/geojson?key={api_key}&typename=ci_vcub_p"
# Define an empty dataframe to store the results
concatenated_df = pd.DataFrame()
def fetch_data():
    try:
        # Send a GET request to the API
        response = requests.get(api_url)
        # Check if the request was successful
        response.raise_for_status()
        # Extract the JSON data from the response
        data = response.json()
        # Extract the records from the JSON
        records = data["features"]
        # Extract the relevant data from each record and store them in a list of dictionaries
        extracted_data = []
        for record in records:
            extracted_record = {
                "type": record["type"],
                "geometry": record["geometry"],
                **record["properties"]
            }
            extracted_data.append(extracted_record)
        # Convert the extracted data to a dataframe
        df = pd.DataFrame(extracted_data)
        # Extract the coordinates from the "geometry" column and store them in separate columns
        df["longitude"] = df["geometry"].apply(lambda x: x["coordinates"][0] if x else None)
        df["latitude"] = df["geometry"].apply(lambda x: x["coordinates"][1] if x else None)
        # Drop the original "geometry" column
        df.drop("geometry", axis=1, inplace=True)
        # Concatenate the current dataframe with the previous results
        global concatenated_df
        concatenated_df = pd.concat([concatenated_df, df], ignore_index=False)
        # Save the concatenated dataframe to a CSV file
        concatenated_df.to_csv('data.csv', index=False)
        # Print the concatenated dataframe
        print(concatenated_df)
    except requests.exceptions.RequestException as err:
        print("Request failed:", err)
    except (KeyError, ValueError) as err:
        print("Error occurred while processing the response:", err)
# Schedule the data fetching every 10 minutes
schedule.every(1).minutes.do(fetch_data)
# Run the scheduler indefinitely
while True:
    schedule.run_pending()
    time.sleep(1)

In [17]:
display(pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/data.csv").head(1))

,type,gid,geom_o,geom_err,ident,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,insee,cdate,mdate,longitude,latitude
0,VLS,1,0,NaN,1,Meriadeck,CONNECTEE,14,18,12,6,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.58437,44.83803

In [14]:
oula=pd.read_csv("/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube.csv")

In [15]:
oula

,Feature,Meriadeck,CONNECTEE,8,25,12,13,2023-07-10 13:08:00+02:00,-0.5843699,44.8380299
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 13:08:00+02:00,-0.590280,44.837840
1,Feature,Piscine Judaique,CONNECTEE,13,13,8,5,2023-07-10 13:08:00+02:00,-0.593233,44.840813
2,Feature,St Seurin,CONNECTEE,11,9,6,3,2023-07-10 13:08:00+02:00,-0.584820,44.842210
3,Feature,Place Gambetta,CONNECTEE,16,23,11,12,2023-07-10 13:08:00+02:00,-0.581124,44.840712
4,Feature,Square Andre Lhote,CONNECTEE,5,24,12,12,2023-07-10 13:08:00+02:00,-0.581660,44.837790
...,...,...,...,...,...,...,...,...,...,...
558247,Feature,Cite numerique,CONNECTEE,3,21,13,8,2023-07-24 12:10:00+02:00,-0.555170,44.813274
558248,Feature,Rue Paulin,CONNECTEE,13,10,3,7,2023-07-24 12:10:00+02:00,-0.587664,44.847400
558249,Feature,Place Latule,CONNECTEE,8,11,7,4,2023-07-24 12:10:00+02:00,-0.566340,44.869373
558250,Feature,Bagatelle,CONNECTEE,12,8,4,4,2023-07-24 12:10:00+02:00,-0.574862,44.807389
558251,Feature,Bruges La Vache,CONNECTEE,17,2,1,1,2023-07-24 12:10:00+02:00,-0.590810,44.872397

In [16]:
oula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558252 entries, 0 to 558251
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Feature                    558252 non-null  object
 1   Meriadeck                  558252 non-null  object
 2   CONNECTEE                  558252 non-null  object
 3   8                          558252 non-null  int64
 4   25                         558252 non-null  int64
 5   12                         558252 non-null  int64
 6   13                         558252 non-null  int64
 7   2023-07-10 13:08:00+02:00  558252 non-null  object
 8   -0.5843699                 558252 non-null  float64
 9   44.8380299                 558252 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 42.6+ MB

In [21]:
import pandas as pd

# Charger le fichier CSV
oula = pd.read_csv("/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube.csv")

# Renommer les colonnes
oula.rename(columns={
    'Feature': 'feature',
    'Meriadeck': 'nom',
    'CONNECTEE': 'etat',
    '8': 'nbplaces',
    '25': 'nbvelos',
    '12': 'nbelec',
    '13': 'nbclassiq',
    '2023-07-10 13:08:00+02:00': 'mdate',
    '-0.5843699': 'longitude',
    '44.8380299': 'latitude'
}, inplace=True)

#oula['mdate'] = pd.to_datetime(oula['mdate'], errors='coerce', utc=True).dt.strftime('%d-%m-%Y %H:%M')
oula = oula.drop_duplicates()
# Ã‰crire les modifications dans le fichier CSV sans les index ni les noms de colonnes d'origine
oula.to_csv("/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube.csv", index=False, header=True)

In [23]:
display(oula)

,feature,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,mdate,longitude,latitude
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 13:08:00+02:00,-0.590280,44.837840
1,Feature,Piscine Judaique,CONNECTEE,13,13,8,5,2023-07-10 13:08:00+02:00,-0.593233,44.840813
2,Feature,St Seurin,CONNECTEE,11,9,6,3,2023-07-10 13:08:00+02:00,-0.584820,44.842210
3,Feature,Place Gambetta,CONNECTEE,16,23,11,12,2023-07-10 13:08:00+02:00,-0.581124,44.840712
4,Feature,Square Andre Lhote,CONNECTEE,5,24,12,12,2023-07-10 13:08:00+02:00,-0.581660,44.837790
...,...,...,...,...,...,...,...,...,...,...
558247,Feature,Cite numerique,CONNECTEE,3,21,13,8,2023-07-24 12:10:00+02:00,-0.555170,44.813274
558248,Feature,Rue Paulin,CONNECTEE,13,10,3,7,2023-07-24 12:10:00+02:00,-0.587664,44.847400
558249,Feature,Place Latule,CONNECTEE,8,11,7,4,2023-07-24 12:10:00+02:00,-0.566340,44.869373
558250,Feature,Bagatelle,CONNECTEE,12,8,4,4,2023-07-24 12:10:00+02:00,-0.574862,44.807389
558251,Feature,Bruges La Vache,CONNECTEE,17,2,1,1,2023-07-24 12:10:00+02:00,-0.590810,44.872397

In [18]:
oula.drop_duplicates()

,feature,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,mdate,longitude,latitude
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 13:08:00+02:00,-0.590280,44.837840
1,Feature,Piscine Judaique,CONNECTEE,13,13,8,5,2023-07-10 13:08:00+02:00,-0.593233,44.840813
2,Feature,St Seurin,CONNECTEE,11,9,6,3,2023-07-10 13:08:00+02:00,-0.584820,44.842210
3,Feature,Place Gambetta,CONNECTEE,16,23,11,12,2023-07-10 13:08:00+02:00,-0.581124,44.840712
4,Feature,Square Andre Lhote,CONNECTEE,5,24,12,12,2023-07-10 13:08:00+02:00,-0.581660,44.837790
...,...,...,...,...,...,...,...,...,...,...
558247,Feature,Cite numerique,CONNECTEE,3,21,13,8,2023-07-24 12:10:00+02:00,-0.555170,44.813274
558248,Feature,Rue Paulin,CONNECTEE,13,10,3,7,2023-07-24 12:10:00+02:00,-0.587664,44.847400
558249,Feature,Place Latule,CONNECTEE,8,11,7,4,2023-07-24 12:10:00+02:00,-0.566340,44.869373
558250,Feature,Bagatelle,CONNECTEE,12,8,4,4,2023-07-24 12:10:00+02:00,-0.574862,44.807389
558251,Feature,Bruges La Vache,CONNECTEE,17,2,1,1,2023-07-24 12:10:00+02:00,-0.590810,44.872397

In [9]:
oula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558252 entries, 0 to 558251
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   feature    558252 non-null  object
 1   nom        558252 non-null  object
 2   etat       558252 non-null  object
 3   nbplaces   558252 non-null  int64
 4   nbvelos    558252 non-null  int64
 5   nbelec     558252 non-null  int64
 6   nbclassiq  558252 non-null  int64
 7   mdate      118518 non-null  object
 8   longitude  558252 non-null  float64
 9   latitude   558252 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 42.6+ MB

In [25]:
df = pd.read_csv('/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558252 entries, 0 to 558251
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   feature    558252 non-null  object
 1   nom        558252 non-null  object
 2   etat       558252 non-null  object
 3   nbplaces   558252 non-null  int64
 4   nbvelos    558252 non-null  int64
 5   nbelec     558252 non-null  int64
 6   nbclassiq  558252 non-null  int64
 7   mdate      558252 non-null  object
 8   longitude  558252 non-null  float64
 9   latitude   558252 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 42.6+ MB

In [2]:
import pandas as pd

In [5]:
df2 = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/data.csv")

In [4]:
df2

,type,gid,geom_o,geom_err,ident,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,insee,cdate,mdate,longitude,latitude
0,VLS,1,0,NaN,1,Meriadeck,CONNECTEE,14,18,12,6,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.584370,44.838030
1,VLS,2,0,NaN,2,St Bruno,CONNECTEE,16,4,3,1,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.590280,44.837840
2,VLS,3,0,NaN,3,Piscine Judaique,CONNECTEE,14,12,8,4,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.593233,44.840813
3,VLS,4,0,NaN,4,St Seurin,CONNECTEE,6,12,10,2,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.584820,44.842210
4,VLS,5,0,NaN,5,Place Gambetta,DECONNECTEE,26,12,8,4,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.581124,44.840712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,VLS,158,0,NaN,177,Cite numerique,CONNECTEE,14,10,8,2,33039.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.555170,44.813274
162,VLS,160,0,NaN,179,Rue Paulin,CONNECTEE,13,10,3,7,33063.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.587664,44.847400
163,VLS,164,0,NaN,185,Place Latule,CONNECTEE,5,14,9,5,NaN,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.566340,44.869373
164,VLS,165,0,NaN,186,Bagatelle,CONNECTEE,12,8,4,4,NaN,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.574862,44.807389
165,VLS+,150,0,NaN,169,Bruges La Vache,DECONNECTEE,17,2,1,1,33075.0,2011-01-01T00:00:00+01:00,2023-07-24T13:10:00+02:00,-0.590810,44.872397

In [25]:
oula.duplicated().sum()

0

In [26]:
oula

,feature,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,mdate,longitude,latitude
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 13:08:00+02:00,-0.590280,44.837840
1,Feature,Piscine Judaique,CONNECTEE,13,13,8,5,2023-07-10 13:08:00+02:00,-0.593233,44.840813
2,Feature,St Seurin,CONNECTEE,11,9,6,3,2023-07-10 13:08:00+02:00,-0.584820,44.842210
3,Feature,Place Gambetta,CONNECTEE,16,23,11,12,2023-07-10 13:08:00+02:00,-0.581124,44.840712
4,Feature,Square Andre Lhote,CONNECTEE,5,24,12,12,2023-07-10 13:08:00+02:00,-0.581660,44.837790
...,...,...,...,...,...,...,...,...,...,...
558247,Feature,Cite numerique,CONNECTEE,3,21,13,8,2023-07-24 12:10:00+02:00,-0.555170,44.813274
558248,Feature,Rue Paulin,CONNECTEE,13,10,3,7,2023-07-24 12:10:00+02:00,-0.587664,44.847400
558249,Feature,Place Latule,CONNECTEE,8,11,7,4,2023-07-24 12:10:00+02:00,-0.566340,44.869373
558250,Feature,Bagatelle,CONNECTEE,12,8,4,4,2023-07-24 12:10:00+02:00,-0.574862,44.807389
558251,Feature,Bruges La Vache,CONNECTEE,17,2,1,1,2023-07-24 12:10:00+02:00,-0.590810,44.872397

In [35]:
oula[oula['nom']=='St Bruno']

,feature,nom,etat,nbplaces,nbvelos,nbelec,nbclassiq,mdate,longitude,latitude
0,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 11:08:00,-0.59028,44.83784
167,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 11:11:00,-0.59028,44.83784
334,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 11:16:00,-0.59028,44.83784
501,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 11:22:00,-0.59028,44.83784
668,Feature,St Bruno,CONNECTEE,14,6,4,2,2023-07-10 11:26:00,-0.59028,44.83784
...,...,...,...,...,...,...,...,...,...,...
557423,Feature,St Bruno,CONNECTEE,16,4,4,0,2023-07-24 09:40:00,-0.59028,44.83784
557589,Feature,St Bruno,CONNECTEE,16,4,4,0,2023-07-24 09:43:00,-0.59028,44.83784
557755,Feature,St Bruno,CONNECTEE,16,4,4,0,2023-07-24 09:59:00,-0.59028,44.83784
557921,Feature,St Bruno,CONNECTEE,16,4,4,0,2023-07-24 10:04:00,-0.59028,44.83784
558087,Feature,St Bruno,CONNECTEE,15,5,4,1,2023-07-24 10:10:00,-0.59028,44.83784

In [44]:
# oula['mdate'] = pd.to_datetime(oula['mdate']).dt.tz_convert(None)

oula10 = oula.set_index('mdate')
oula10
# Group the data by 10-minute intervals and keep only the first value for each group.
oula10 = oula10.groupby(['nom', pd.Grouper(freq='10Min')]).first().ffill().reset_index()

oula10

,nom,mdate,feature,etat,nbplaces,nbvelos,nbelec,nbclassiq,longitude,latitude
0,Allee de Serr Abadie,2023-07-10 11:00:00,Feature,CONNECTEE,11,7,2,5,-0.55751,44.84377
1,Allee de Serr Abadie,2023-07-10 11:10:00,Feature,CONNECTEE,11,7,2,5,-0.55751,44.84377
2,Allee de Serr Abadie,2023-07-10 11:20:00,Feature,CONNECTEE,11,7,2,5,-0.55751,44.84377
3,Allee de Serr Abadie,2023-07-10 11:30:00,Feature,CONNECTEE,11,7,2,5,-0.55751,44.84377
4,Allee de Serr Abadie,2023-07-10 11:40:00,Feature,CONNECTEE,11,7,2,5,-0.55751,44.84377
...,...,...,...,...,...,...,...,...,...,...
305269,Xaintrailles,2023-07-24 09:30:00,Feature,CONNECTEE,13,3,1,2,-0.59349,44.82797
305270,Xaintrailles,2023-07-24 09:40:00,Feature,CONNECTEE,13,3,1,2,-0.59349,44.82797
305271,Xaintrailles,2023-07-24 09:50:00,Feature,CONNECTEE,12,4,1,3,-0.59349,44.82797
305272,Xaintrailles,2023-07-24 10:00:00,Feature,CONNECTEE,12,4,1,3,-0.59349,44.82797
305273,Xaintrailles,2023-07-24 10:10:00,Feature,CONNECTEE,12,4,1,3,-0.59349,44.82797

In [45]:
oula10[oula10['nom']=='St Bruno']

,nom,mdate,feature,etat,nbplaces,nbvelos,nbelec,nbclassiq,longitude,latitude
283206,St Bruno,2023-07-10 11:00:00,Feature,CONNECTEE,14,6,4,2,-0.59028,44.83784
283207,St Bruno,2023-07-10 11:10:00,Feature,CONNECTEE,14,6,4,2,-0.59028,44.83784
283208,St Bruno,2023-07-10 11:20:00,Feature,CONNECTEE,14,6,4,2,-0.59028,44.83784
283209,St Bruno,2023-07-10 11:30:00,Feature,CONNECTEE,14,6,4,2,-0.59028,44.83784
283210,St Bruno,2023-07-10 11:40:00,Feature,CONNECTEE,14,6,4,2,-0.59028,44.83784
...,...,...,...,...,...,...,...,...,...,...
285040,St Bruno,2023-07-24 09:30:00,Feature,CONNECTEE,16,4,4,0,-0.59028,44.83784
285041,St Bruno,2023-07-24 09:40:00,Feature,CONNECTEE,16,4,4,0,-0.59028,44.83784
285042,St Bruno,2023-07-24 09:50:00,Feature,CONNECTEE,16,4,4,0,-0.59028,44.83784
285043,St Bruno,2023-07-24 10:00:00,Feature,CONNECTEE,16,4,4,0,-0.59028,44.83784
285044,St Bruno,2023-07-24 10:10:00,Feature,CONNECTEE,15,5,4,1,-0.59028,44.83784

In [ ]:
oula10.to_csv("/Users/garybouvet/Desktop/PROJET_DATA_3/Gary_all_data/station_vCube_10.csv", index=False)

In [2]:
import pandas as pd

In [3]:
cestca = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv")

In [6]:
pd.set_option('display.max_colwidth', None)

In [ ]:
cestca

In [5]:
cestca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2016 non-null   int64
 1   libelle        2016 non-null   object
 2   vehicule       2016 non-null   object
 3   rs_sv_ligne_a  2016 non-null   int64
 4   geometry       2016 non-null   object
 5   sens           2016 non-null   object
 6   ligne_com      2016 non-null   object
 7   nb_vehicule    2016 non-null   int64
 8   retard         2016 non-null   int64
 9   vitesse        2016 non-null   int64
dtypes: int64(5), object(5)
memory usage: 157.6+ KB

In [8]:
from shapely import wkt
from shapely.geometry import MultiLineString

# Load your data
df = pd.read_csv('/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv')

# Convert the 'geometry' column to shapely MultiLineString objects
df['geometry'] = df['geometry'].apply(wkt.loads)

# Simplify the geometries with a tolerance parameter
tolerance = 0.001  # You may need to adjust this value
df['geometry_simplified'] = df['geometry'].apply(lambda geom: geom.simplify(tolerance))

# Now you can use the 'geometry_simplified' column for your map

In [15]:
df

,Unnamed: 0,libelle,vehicule,rs_sv_ligne_a,sens,ligne_com,nb_vehicule,retard,vitesse,geometry_simplified
0,0,Lormont Bas - Quinconces (Jean JaurÃ¨s),BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5689718 44.8429482, -0.566189 44.8514745, -0.5625052 44.8552312, -0.560298 44.8549251, -0.5450524 44.8623835, -0.5395282 44.8765339, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))"
1,1,Lormont Bas - Stalingrad (Parlier) via CITE DU VIN,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5487659 44.8616034, -0.5654832 44.8516763, -0.5670033 44.8452916, -0.5634834 44.8415294), (-0.5347155 44.8781741, -0.5395282 44.8765339, -0.5436234 44.8638963, -0.5462147 44.8615632, -0.5487426 44.8615938))"
2,2,Quinconces (Jean JaurÃ¨s) - Lormont Bas via HANGARS,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5689718 44.8429482, -0.5661992 44.8514782, -0.5625052 44.8552312, -0.5602912 44.8549308, -0.5450639 44.8623861, -0.5395392 44.876534, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))"
3,3,Stalingrad (Parlier) - Lormont Bas,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5634675 44.8415374, -0.5688759 44.843123, -0.566781 44.850808, -0.5625052 44.8552312, -0.5602912 44.8549308, -0.5450639 44.8623861, -0.5395392 44.876534, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312), (-0.5689718 44.8429482, -0.5688759 44.843123))"
4,4,Stalingrad (Parlier) - Lormont Bas via CITE DU VIN,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5634834 44.8415294, -0.5668982 44.8452319, -0.5654901 44.851586, -0.5487659 44.8616034), (-0.5487426 44.8615938, -0.5462262 44.8615671, -0.543633 44.8638974, -0.5395392 44.876534, -0.5347155 44.8781741))"
...,...,...,...,...,...,...,...,...,...,...
2011,2011,Barriere Du Medoc - Cantinolle,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6674676 44.8920416, -0.6573136 44.8862908, -0.6346944 44.8789288, -0.6291153 44.8738657, -0.6220543 44.8766692, -0.608157 44.8685807, -0.5932086 44.8536684)"
2012,2012,Barriere Du Medoc - Cantinolle,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6601395 44.8881524, -0.6346944 44.8789288, -0.6291153 44.8738657, -0.622064 44.8766742, -0.608157 44.8685807, -0.5932086 44.8536684)"
2013,2013,Cantinolle - Barriere Du Medoc,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6597731 44.8878541, -0.634716 44.8789045, -0.6291319 44.8738375, -0.6220822 44.8766459, -0.6081881 44.8685623, -0.5928286 44.8533824)"
2014,2014,Quinconces - Carle Vernet,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.5504727 44.8199254, -0.5508326 44.8222035, -0.5574934 44.8240037, -0.556429 44.8274045, -0.5596233 44.8297537, -0.5588078 44.83143, -0.5696724 44.8415235)"
2015,2015,Carle Vernet - Les Sources,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.5504727 44.8199254, -0.5507505 44.8221992, -0.557469 44.8240297, -0.556379 44.8273274, -0.5595794 44.8297618, -0.5587771 44.8314558, -0.5671636 44.837945, -0.570708 44.8442075, -0.5780873 44.8452392, -0.5934595 44.8538314, -0.6083371 44.8687096, -0.6220851 44.8766841, -0.6291153 44.8738657, -0.6346944 44.8789288, -0.6601395 44.8881524)"

In [11]:
df.drop('geometry', axis=1, inplace=True)

In [13]:
df_simplified = df

In [14]:
df_simplified.to_csv("df_simplified.csv")

In [19]:
df_simplified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2016 non-null   int64
 1   libelle              2016 non-null   object
 2   vehicule             2016 non-null   object
 3   rs_sv_ligne_a        2016 non-null   int64
 4   sens                 2016 non-null   object
 5   ligne_com            2016 non-null   object
 6   nb_vehicule          2016 non-null   int64
 7   retard               2016 non-null   int64
 8   vitesse              2016 non-null   int64
 9   geometry_simplified  2016 non-null   object
dtypes: int64(5), object(5)
memory usage: 157.6+ KB

In [21]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

# Lire le fichier CSV
df = pd.read_csv('/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv')

# Convertir la colonne 'geometry' en objets gÃ©omÃ©triques
df['geometry'] = df['geometry'].apply(wkt.loads)

# CrÃ©er un GeoDataFrame Ã  partir du DataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# Simplifier les objets gÃ©omÃ©triques
gdf['geometry_simplified'] = gdf['geometry'].simplify(tolerance=0.001)

# Convertir les objets gÃ©omÃ©triques simplifiÃ©s en WKT (Well-Known Text)
df['geometry_simplified'] = gdf['geometry_simplified'].apply(lambda geom: geom.wkt)

# Enregistrer le DataFrame dans un nouveau fichier CSV
df.to_csv('/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv', index=False)

In [23]:
import pandas as pd

In [24]:
defo = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv")

In [27]:
defo.drop('geometry', axis=1, inplace=True)

In [29]:
defo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2016 non-null   int64
 1   libelle              2016 non-null   object
 2   vehicule             2016 non-null   object
 3   rs_sv_ligne_a        2016 non-null   int64
 4   sens                 2016 non-null   object
 5   ligne_com            2016 non-null   object
 6   nb_vehicule          2016 non-null   int64
 7   retard               2016 non-null   int64
 8   vitesse              2016 non-null   int64
 9   geometry_simplified  2016 non-null   object
dtypes: int64(5), object(5)
memory usage: 157.6+ KB

In [28]:
defo.head(1)

,Unnamed: 0,libelle,vehicule,rs_sv_ligne_a,sens,ligne_com,nb_vehicule,retard,vitesse,geometry_simplified
0,0,Lormont Bas - Quinconces (Jean JaurÃ¨s),BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5689718 44.8429482, -0.566189 44.8514745, -0.5625052 44.8552312, -0.560298 44.8549251, -0.5450524 44.8623835, -0.5395282 44.8765339, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))"

In [30]:
from shapely import wkt

# Convertir la colonne 'geometry_simplified' en objets gÃ©omÃ©triques
defo['geometry_simplified'] = defo['geometry_simplified'].apply(wkt.loads)

In [31]:
defo.to_csv("df_simplified.csv")

In [32]:
defo = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv")

In [33]:
defo

,Unnamed: 0.1,Unnamed: 0,libelle,vehicule,rs_sv_ligne_a,sens,ligne_com,nb_vehicule,retard,vitesse,geometry_simplified
0,0,0,Lormont Bas - Quinconces (Jean JaurÃ¨s),BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5689718 44.8429482, -0.566189 44.8514745, -0.5625052 44.8552312, -0.560298 44.8549251, -0.5450524 44.8623835, -0.5395282 44.8765339, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))"
1,1,1,Lormont Bas - Stalingrad (Parlier) via CITE DU VIN,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5487659 44.8616034, -0.5654832 44.8516763, -0.5670033 44.8452916, -0.5634834 44.8415294), (-0.5347155 44.8781741, -0.5395282 44.8765339, -0.5436234 44.8638963, -0.5462147 44.8615632, -0.5487426 44.8615938))"
2,2,2,Quinconces (Jean JaurÃ¨s) - Lormont Bas via HANGARS,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5689718 44.8429482, -0.5661992 44.8514782, -0.5625052 44.8552312, -0.5602912 44.8549308, -0.5450639 44.8623861, -0.5395392 44.876534, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))"
3,3,3,Stalingrad (Parlier) - Lormont Bas,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5634675 44.8415374, -0.5688759 44.843123, -0.566781 44.850808, -0.5625052 44.8552312, -0.5602912 44.8549308, -0.5450639 44.8623861, -0.5395392 44.876534, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312), (-0.5689718 44.8429482, -0.5688759 44.843123))"
4,4,4,Stalingrad (Parlier) - Lormont Bas via CITE DU VIN,BATEAU,130,ALLER,BAT3,3,247,11,"MULTILINESTRING ((-0.5634834 44.8415294, -0.5668982 44.8452319, -0.5654901 44.851586, -0.5487659 44.8616034), (-0.5487426 44.8615938, -0.5462262 44.8615671, -0.543633 44.8638974, -0.5395392 44.876534, -0.5347155 44.8781741))"
...,...,...,...,...,...,...,...,...,...,...,...
2011,2011,2011,Barriere Du Medoc - Cantinolle,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6674676 44.8920416, -0.6573136 44.8862908, -0.6346944 44.8789288, -0.6291153 44.8738657, -0.6220543 44.8766692, -0.608157 44.8685807, -0.5932086 44.8536684)"
2012,2012,2012,Barriere Du Medoc - Cantinolle,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6601395 44.8881524, -0.6346944 44.8789288, -0.6291153 44.8738657, -0.622064 44.8766742, -0.608157 44.8685807, -0.5932086 44.8536684)"
2013,2013,2013,Cantinolle - Barriere Du Medoc,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.6597731 44.8878541, -0.634716 44.8789045, -0.6291319 44.8738375, -0.6220822 44.8766459, -0.6081881 44.8685623, -0.5928286 44.8533824)"
2014,2014,2014,Quinconces - Carle Vernet,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.5504727 44.8199254, -0.5508326 44.8222035, -0.5574934 44.8240037, -0.556429 44.8274045, -0.5596233 44.8297537, -0.5588078 44.83143, -0.5696724 44.8415235)"
2015,2015,2015,Carle Vernet - Les Sources,TRAM,62,RETOUR,Tram D,35,28,16,"LINESTRING (-0.5504727 44.8199254, -0.5507505 44.8221992, -0.557469 44.8240297, -0.556379 44.8273274, -0.5595794 44.8297618, -0.5587771 44.8314558, -0.5671636 44.837945, -0.570708 44.8442075, -0.5780873 44.8452392, -0.5934595 44.8538314, -0.6083371 44.8687096, -0.6220851 44.8766841, -0.6291153 44.8738657, -0.6346944 44.8789288, -0.6601395 44.8881524)"

In [34]:
defo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0.1         2016 non-null   int64
 1   Unnamed: 0           2016 non-null   int64
 2   libelle              2016 non-null   object
 3   vehicule             2016 non-null   object
 4   rs_sv_ligne_a        2016 non-null   int64
 5   sens                 2016 non-null   object
 6   ligne_com            2016 non-null   object
 7   nb_vehicule          2016 non-null   int64
 8   retard               2016 non-null   int64
 9   vitesse              2016 non-null   int64
 10  geometry_simplified  2016 non-null   object
dtypes: int64(6), object(5)
memory usage: 173.4+ KB

In [35]:
print(type(defo.loc[0, 'geometry_simplified']))

<class 'str'>

In [37]:
# Load the DataFrame
df = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv")

# Drop 'geometry' column
df.drop('geometry', axis=1, inplace=True)

# Convert 'geometry_simplified' from WKT to Shapely geometries
df['geometry_simplified'] = gpd.GeoSeries.from_wkt(df['geometry_simplified'])

# Save the DataFrame to a CSV file
df.to_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv", index=False)

In [38]:
# Load the DataFrame
defo = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv")

# Check the type of the 'geometry_simplified' column
print(type(defo.loc[0, 'geometry_simplified']))

<class 'str'>

In [39]:
import geopandas as gpd
import pandas as pd

# Load the DataFrame
df = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/df_simplified.csv")

# Convert 'geometry_simplified' from WKT to Shapely geometries
df['geometry_simplified'] = gpd.GeoSeries.from_wkt(df['geometry_simplified'])

# Check the type of the 'geometry_simplified' column
print(type(df.loc[0, 'geometry_simplified']))

<class 'shapely.geometry.multilinestring.MultiLineString'>

In [44]:
gdf = pd.read_csv('/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv')
display(gdf.head(1))

,Unnamed: 0,libelle,vehicule,rs_sv_ligne_a,geometry,sens,ligne_com,nb_vehicule,retard,vitesse
0,0,Lormont Bas - Quinconces (Jean JaurÃ¨s),BATEAU,130,"MULTILINESTRING ((-0.5689718 44.8429482, -0.5688759 44.843123, -0.5686694 44.8432906, -0.5684906 44.843426, -0.56833 44.8435722, -0.5682106 44.843715, -0.5681327 44.8438649, -0.5680856 44.8440323, -0.5680494 44.8442643, -0.5680195 44.8446935, -0.5680321 44.8451661, -0.568105 44.84624, -0.5681441 44.8473469, -0.5680209 44.8482898, -0.5677214 44.8491041, -0.5673453 44.8499048, -0.5667729 44.8508056, -0.566189 44.8514745, -0.5654725 44.8521018, -0.5643126 44.8528503, -0.5629257 44.8536025, -0.562714 44.8538672, -0.5625631 44.8541757, -0.5625037 44.8545333, -0.5624496 44.8550235, -0.5625052 44.8552312, -0.5622322 44.8551239, -0.5618682 44.8550271, -0.5614846 44.8549497, -0.5610842 44.8548939, -0.5607259 44.8548883, -0.560298 44.8549251, -0.5526526 44.8582714, -0.5486453 44.8601256, -0.548527 44.860426, -0.5484746 44.8607401, -0.5484965 44.8610556, -0.5486207 44.8613543, -0.5487426 44.8615938, -0.5482473 44.8615533, -0.5475819 44.8614949, -0.5468593 44.8614984, -0.5462359 44.861561, -0.5462147 44.8615632, -0.5450524 44.8623835, -0.5442478 44.8630789, -0.5436234 44.8638963, -0.5431405 44.8649022, -0.5427839 44.8660191, -0.5422895 44.8688521, -0.5415315 44.8717694, -0.5405988 44.8743673, -0.5400549 44.8756555, -0.5395282 44.8765339, -0.5390057 44.8770562, -0.5384362 44.8773869, -0.5376716 44.8776786, -0.5371157 44.8778428, -0.5366411 44.8779693, -0.5361653 44.8780721, -0.5357288 44.8781304, -0.5353011 44.8781649, -0.5349014 44.8781642, -0.5347155 44.8781741), (-0.5626602 44.855357, -0.5625052 44.8552312))",ALLER,BAT3,3,247,11

In [ ]:
gdf.info()

In [1]:
import pandas as pd

In [2]:
koi = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv")

In [3]:
koi.head(1)

,Unnamed: 0,libelle,vehicule,rs_sv_ligne_a,geometry,sens,ligne_com,nb_vehicule,retard,vitesse
0,0,Lormont Bas - Quinconces (Jean JaurÃ¨s),BATEAU,130,"MULTILINESTRING ((-0.5689718 44.8429482, -0.56...",ALLER,BAT3,3,247,11

In [ ]:
koi['sens'].unique()

In [2]:
import pandas as pd

In [3]:
tom = pd.read_csv("/Users/garybouvet/Desktop/Streamlit_projet_3/gdfbustrambat.csv")

In [5]:
tom.isna().sum()

Unnamed: 0       0
libelle          0
vehicule         0
rs_sv_ligne_a    0
geometry         0
sens             0
ligne_com        0
nb_vehicule      0
retard           0
vitesse          0
dtype: int64